.header-content {
  min-height: 75vh;
  background: linear-gradient(rgba(219, 125, 45, 0.3), rgba(219, 125, 45, 0.5)),
    url("../../images/book.jpg") center/cover no-repeat;
  flex-direction: column;
}
.header-content {
  font-size: 3rem;
}
.header-text {
  margin-top: -1.8rem;
  margin-bottom: 2.8rem;
  opacity: 0.8;
  max-width: 770px;
}
